.sliderDiv {
    background-image: url('../assets/pattern-bg.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
}

.quoteDiv {
    background-image: url('../assets/pattern-quotes.svg');
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: 60px top;
}

.sliderDiv {
    position: relative;
    overflow: hidden;
  }
  
  .quoteDiv, .imgDiv {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  
  .slide-in {
    transform: translateX(0);
    opacity: 1;
  }
  
  .slide-out {
    transform: translateX(-100%);
    opacity: 0;
  }
  
  .custom-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  