.sliderDiv {
    background-image: url('../assets/pattern-bg.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
}

.quoteDiv {
    background-image: url('../assets/pattern-quotes.svg');
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: 60px top;
}

.custom-shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  }
  